body {
	background-color: black;
	font-size: 120px;
	color: white;
	margin: 30px;
}

.container {
	position: fixed;
	top: 60px;
	right: 120px;
	background-color: black;
}

.container input {
	font: 120px black bold;
	padding: 12px 24px;
	border-radius: 30px;
}

h1 {
	font-size: 180px;
	padding-top: 300px;
	color: white;
}

p {
	display:inline-block;
	background-color: black;
	color: white;
	line-height: 150%;
}

span {
	text-align: center;
	border-radius: 30px;
	margin: 30px 60px;
	padding: 0px 12px;
}

.I_box {
	display:inline-block;
	border: 12px solid black;
}

.Q_box {
	display:inline-block;
	min-width:360px;
	background-color: white;
	border: 12px solid powderblue;
}
.O_box {
	display:inline-block;
	min-width:360px;
	border: 12px solid cyan;
	color: cyan;
}
.X_box {
	display:inline-block;
	min-width:360px;
	border: 12px solid red;
	color: red;	
}

