body {
	background-color: black;
	font-size: 60px;
	color: white;
}

.container {
	position: fixed;
	top: 30px;
	right: 60px;
	background-color: black;
}

.container input {
	font: 60px black bold;
	padding: 6px 12px;
	border-radius: 15px;
}

h1 {
	font-size: 90px;
	padding-top: 150px;
	color: white;
}

p {
	display:inline-block;
	background-color: black;
	color: white;
	line-height: 150%;
}

span {
	text-align: center;
	border-radius: 15px;
	margin: 15px 31px;
	padding: 0px 6px;
}

.I_box {
	display:inline-block;
	border: 6px solid black;
}

.Q_box {
	display:inline-block;
	min-width:180px;
	background-color: white;
	border: 6px solid powderblue;
}
.O_box {
	display:inline-block;
	min-width:180px;
	border: 6px solid cyan;
	color: cyan;
}
.X_box {
	display:inline-block;
	min-width:180px;
	border: 6px solid red;
	color: red;	
}

